.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2D2D2D;
    height: 100px;
}

.header__logo{
    height: 60px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 100px;
}

.header__buttons{
    display: flex;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 100px;
}

.header__cart{
    display: flex;
}

.header__cart > p{
    color: #C4A166;
}

.header__dropdown{
    background-color: #C4A166;
    border: none;
    color: #2D2D2D;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.header__list{
    border: none;
    background-color: inherit;
    margin-top: 5px;
    margin-left: 100px;
    color: #C4A166;
}

@media(max-width: 990px){
    .header__logo{
        margin-left: 20px;
    }

    .header__buttons{
        margin-right: 30px;
    }

    .header__list{
        margin-left: 50px;
    }
}
